<!DOCTYPE <!DOCTYPE html>
<html>
    <head>
        <title>Data added</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h2>Added Log</h2>
            <p><strong>Timestamp: </strong>{{log.logTimestamp}}</p>
            <p><strong>Action: </strong>{{log.logAction}}</p>
            <p><strong>Label: </strong>{{log.logLabel}}</p>
            <p><strong>Value: </strong>{{log.logValue}}</p>
            <a href="/"><button class="btn btn-primary">Submit Another Log</button></a>
        </div>
    </body>
</html>